@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.pw-background {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pw-container {
    width: 100%;
    max-width: 350px;
    background-color: #3b4a8a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pw-logo {
    margin-bottom: 0.5rem;
}

.pw-header {
    display: flex;
    flex-direction: row;
}

.pw-back-button {
    background-color: #fff;
    color: #3b4a8a;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    right: 120px;
    font-family: 'Inter', sans-serif;

}

.pw-frase {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffffffd0;
    margin-top: 0;
    margin-bottom: 3rem;
}

.pw-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.pw-button {
    background-color: #253061;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 1rem;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    width: 100%;
}