@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');


.mypets-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
  margin: auto;
}

.pet-card {
  display: flex!important;
  align-items: center!important;
  justify-content: flex-start!important;
  background-color: #098b3f!important;
  border-radius: 10px!important;
  padding: 10px!important;
  margin-bottom: 10px!important;
  cursor: pointer!important;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1)!important;
  width: 320px!important;
  height: 60px!important;
  position: relative!important;
}



.mypets-logo {
  margin-top: 20px; 
  align-self: center;
}


.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}



.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 320px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.search-bar, .button {
  margin-bottom: 20px;
  margin-top: 1rem;
}

.search-bar input {
  background-color: #FFFFFF;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Inter', sans-serif;
  flex-grow: 1;
  width: calc(100% - 22px);
}

.search-button {
  background-color: #FFFFFF;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ccc;
  border-left: none;
  padding: 10px;
  cursor: pointer;

.mypets-title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 30px;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #4caf50;
  padding: 15px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button.add-pet {
  background-color: #2196f3;
  margin-bottom: 15px;
  display: block;
}

.pet-name-my-pets {
  flex-grow: 1;
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pet-photo-my-pets {
  width: 40px ;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 10px;
  align-self: center;
}