@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sansdisplay=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.mypet-header {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #ffffff;
}

.mypet-logo {
  margin-bottom: 0.3rem;
  margin-top: 2rem;
}

.mypet-title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  color: #ffffff;
  margin-top: 0px;
}

.pet-container {
  background-color: #ffffffe7;
  font-family: 'Nunito Sans', sans-serif;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden; /* Assegura que não haverá rolagem horizontal */
  display: flex;
  width: 90%;
  padding: 0 20px 30px; /* Adiciona padding horizontal para manter espaço nas laterais */
  margin-top: 200px;
  margin-left: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

}

.pet-name-my-pet {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem !important;
  color: #036353;
  margin: 1rem 0;
}

.pet-age {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #495856;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.pet-info {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #495856;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.pet-photo-my-pet {
  width: 160px !important;
  height: 160px !important;
  border-radius: 50% !important;
  object-fit: cover;
  margin: 20px 0;
  margin-bottom: 0;
}

.button-vaccination-card {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 260px;
  background-color: #f44336;
  margin-top: 1rem;
  text-align: center;
}

.button-appointments-card {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 260px;
  background-color: #4caf50;
  margin-top: 1rem;
  text-align: center;

}