@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.mypets-container {
  font-family: 'Inter', sans-serif;
  background-color: #0B5858;
  background-image: url('./assets/images/bg-icons.png');
  background-size: contain;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-width: 600px;
  min-height: 100vh;
  margin: auto;
  padding: 10px;
  padding-top: 10px;
}

.pet-card {
  display: flex;
  align-items: center;
  background-color: #098b3f;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1)
}

.mypets-header {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 12px;
}

.mypets-logo {
  margin-top: 1rem;
  width: 30%;
}

.delete-button {
  background-color: #ff6347; /* Vermelho para ação de deletar */
  color: white;
  border: none;
  padding: 8px 12px;
  margin-left: 10px; /* Espaço entre o botão e as informações do pet */
  border-radius: 5px;
  cursor: pointer;
}

.mypets-title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  color: #ffffff;
  margin-top: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 320px;
  margin-bottom: 1rem;
  margin-top: 0;
}

.search-bar, .button {
  margin-bottom: 20px;
  margin-top: 1rem;
}

.search-bar input {
  background-color: #FFFFFF;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Inter', sans-serif;
  flex-grow: 1;
  width: calc(100% - 22px);
}

.search-button {
  background-color: #FFFFFF;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ccc;
  border-left: none;
  padding: 10px;
  cursor: pointer;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #4caf50;
  padding: 15px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button.add-pet {
  order: 0;
  background-color: #E6B800;
  margin-bottom: 15px;
  display: block;
}

.pet-info h2 {
  margin: 0;
  font-size: 1.2em;
}

.pet-info p {
  margin: 5px 0;
}

.button, .search-bar {
  margin-bottom: 1rem;
}

.pet-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
  background-color: #4caf50;
  padding: 15px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  }
  
.pet-photo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 20px;
}

.profile-placeholder {
  content: url('./assets/images/profile_placeholder.jpeg');
}
