@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.body-pet {
  font-family: 'Inter', sans-serif;
  /* background-color: #f5f5f5; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

}

.register-pet-container {
  max-width: 400px;
  margin-top: 130px;

}

.register-pet-select {
  width: 100%;
  padding: 10px 30px 10px 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Inter', sans-serif;
  background-color: #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}


/* .register-pet-select-wrapper::after {
  content: '▼';
  font-size: 12px;
  color: #333;
  position: absolute;
  right: 10px;
  top: 50%;
  pointer-events: none;
  transform: translateY(-50%);
} */


.register-pet-header {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 12px;
}

.bytevet-title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 30px;
}

.register-pet-logo {
  margin-top: 2rem;
}

.register-pet-title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  color: #ffffff;
  margin-top: 2px;
}

.register-pet-form {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}

.button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  background-color: #2a5e5e;
  padding: 15px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-pet-buttons {
  margin-top: 30px;

}

.button.register {
  margin-top: 40px;
  margin-bottom: 15px;
}

.button.add {
  background-color: #2196f3;
  align-self: center;
}

.register-pet-label {
    display: block;
    color: rgb(59, 55, 55);
    margin-bottom: 5px;
  }

.register-pet-input {
  width: 320px; 
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Inter', sans-serif;
  }


.type-options {
  margin-top: -5px;;
  font-size: 12px;


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;

}