@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.body-register {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0B5858;
  background-image: url('./assets/images/bg-icons.png');
  background-size: repeat;
}

.register-container {
  width: 100%;
  max-width: 350px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.bytevet-title {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  color: #3b4a8a;
  margin-top: 0;
  margin-bottom: 2rem;
}

.register-title {
  font-family: 'Nunito Sans', sans-serif;
  color: #102274;
  margin-bottom: 2rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: #b81717;
}

.register-form input {
  background-color: #FFFFFF;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.input-field input {
  background-color: #FFFFFF;
  color: #000000;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Inter', sans-serif;
  flex-grow: 1;
}

.input-field label {
  color: #a8a8a8;
}

.register-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #ffff;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
  background-color: #0B5858;
  margin-top: 1rem;
  margin-bottom: 0.9rem;
  text-align: center;
}

.login-link {
  color: #000000af;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 550;
}

.terms {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.terms input {
  cursor: pointer;
}

.terms label {
  font-size: 0.9rem;
  user-select: none;
}

.label-white {
  color: #ffff;
}

.input-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.label, .input-field label {
  font-family: 'Roboto', sans-serif;
  color: #ffff;
  min-width: 150px;
}

.input-field {
  margin-left: 10px;
  flex: 1;
  color: #440101
}
